@model Students_Faculties_ViewModel

<h1>Welcome to Radu Alexnadru's project</h1>

<div>Student admin: <br />
    adminStudents@gmail.com  <br />
    secretStudents

</div>
<br />
<div>Faculty admin: <br />
    adminFaculty@gmail.com  <br />
    secretFaculty </div>


    <br />
    <a  href = "/Identity/Account/Login?ReturnUrl=%2Fadmin">Click here to log in</a>
